.custom-checkbox {
	--checkbox-width: 17px;
	--checkbox-height: 17px;
	--checkbox-color: #fff;
	--checkbox-checked-color: #000;
	--checkbox-radius: 0;
	--checkbox-border-color: #fff;
	--gap: 15px;

	display: inline-flex;
	align-items: center;
	user-select: none;
	column-gap: var(--gap);
	cursor: pointer;

	&__input {
		position: absolute;
		z-index: -111;
		opacity: 0;
	}
	&__custom {
		border: 1px solid var(--checkbox-border-color);
		border-radius: var(--checkbox-radius);
		width: var(--checkbox-width);
		height: var(--checkbox-height);
		flex: 0 0 var(--checkbox-width);
		background-color: var(--checkbox-color);
	}
	&__text {
	}
	&__input:checked + &__custom {
		border-color: var(--checkbox-checked-color);
	}
}
