.header {
	&--mb {
		margin-bottom: 35px;
	}
	// .header__content
	&__content {
		padding: 10px 0;
		min-height: 80px;
		display: flex;
		align-items: center;
		gap: 30px;

		@media (max-width: $mobile) {
			gap: 8px;
		}
	}
	// .header__logo
	&__logo {
		margin-right: 20px;
		max-width: 241px;
		flex: 0 0 241px;

		@media (max-width: 1280px) {
			max-width: 187px;
			flex: 0 0 187px;
			margin-right: 14px;
		}
		@media (max-width: 1080px) {
			max-width: 180px;
			flex: 0 0 180px;
		}
		@media (max-width: $tablet_sm) {
			max-width: 140px;
			flex: 0 0 140px;
		}
	}
	// .header__text
	&__text {
		font-size: 14px;
		line-height: calc(18 / 14);
		max-width: 230px;
		border-left: 1px solid rgba(51, 26, 47, 0.5);
		padding: 12px 0 12px 25px;

		@media (max-width: 1280px) {
			font-size: 10px;
			line-height: 14px;
			line-height: calc(14 / 10);
			max-width: 158px;
			padding-left: 20px;
		}
		@media (max-width: $tablet) {
			margin-right: 0;
		}
		@media (max-width: $mobile) {
			display: none;
		}
	}
	// .header__menu
	&__menu {
		flex: 1 1 auto;
		justify-content: space-between;
		gap: 15px;
	}
	// .header__phone
	&__phone {
		@media (max-width: $tablet) {
			width: 90%;
		}
	}
	// .header__login-icon
	&__login-icon {
		margin-right: 14px;

		@media (max-width: $tablet_sm) {
			height: 20px;
			width: 20px;
		}
	}
	// .header__login
	&__login {
		color: #fff;
		background-color: var(--c-acc);
		border-radius: 12px;
		justify-content: center;
		min-width: 170px;
		min-height: 45px;
		font-weight: 500;
		letter-spacing: 0.02em;
		font-size: 24px;
		line-height: calc(35 / 24);
		transition: background-color 0.2s;

		@media (max-width: $tablet) {
			margin-left: auto;
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: darken(#cf51ce, 10%);
			}
		}

		@media (max-width: 1380px) {
			font-size: 18px;
			line-height: calc(35 / 18);
		}
		@media (max-width: 1280px) {
			min-width: 152px;
		}
		@media (max-width: $tablet) {
			// margin-right: 70px;
		}
		@media (max-width: $tablet) {
			// margin-right: 14px;
		}
		@media (max-width: $tablet_sm) {
			min-width: 104px;
			min-height: 36px;
			font-size: 14px;
			line-height: calc(28 / 14);
		}
	}
}

.header__phone,
.nav__link {
	padding: 14px 0;
	transition: color 0.2s;

	@media (any-hover: hover) {
		&:hover {
			color: var(--c-acc);
		}
	}
}

.header__phone,
.nav__list {
	font-size: 24px;
	line-height: calc(35 / 24);

	@media (max-width: 1380px) {
		font-size: 18px;
		line-height: calc(35 / 18);
	}
}

.nav__link,
.header__phone,
.header__login {
	display: flex;
	align-items: center;
}

.logo {
}

.nav {
	@media (max-width: $tablet) {
		width: 100%;
	}
	// .nav__list
	&__list {
		display: grid;
		grid-template-columns: repeat(2, auto);
		gap: 50px;

		@media (max-width: 1180px) {
			gap: 20px;
		}
		@media (max-width: $tablet) {
			grid-template-columns: 1fr;
			gap: 0;
		}
	}
	// .nav__item
	&__item {
		position: relative;

		@media (any-hover: hover) {
			&:hover {
				.nav__sub-list {
					visibility: visible;
					opacity: 1;
				}
			}
		}
	}
	// .nav__link
	&__link {
		@media (max-width: $tablet) {
			width: 100%;
			display: flex;
			justify-content: space-between;
		}
	}
	// .nav__link-icon
	&__link-icon {
		margin-left: 11px;
	}
	// .nav__sub-list
	&__sub-list {
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 1;
		min-width: 150%;
		transform: translate(0, 100%);
		background-color: #fff;
		padding: 10px;
		border-radius: 12px;
		visibility: hidden;
		opacity: 0;
		transition: visibility 0.2s, opacity 0.2s;
		font-size: 20px;
		line-height: calc(30 / 20);
	}
	// .nav__sub-item
	&__sub-item {
		& + & {
			margin-top: 4px;
		}
	}
	// .nav__sub-link
	&__sub-link {
		width: 100%;
		transition: color 0.2s;

		@media (any-hover: hover) {
			&:hover {
				color: var(--c-acc);
			}
		}
	}
}

.burger {
	display: none;

	@media (max-width: $tablet) {
		padding: 8px;
		width: 58px;
		height: 42px;
		margin-right: -8px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		z-index: 111111;

		&::before,
		&::after {
			content: '';
		}

		&__line,
		&::before,
		&::after {
			width: 100%;
			background-color: var(--c-acc);
			width: 100%;
			height: 4px;
			border-radius: 4px;
			transition: all 0.3s;
		}

		&::after {
			width: 80%;
			align-self: end;
		}

		&.active {
			.burger__line {
				opacity: 0;
			}
			&::before {
				transform: translate(0%, 10.5px) rotate(45deg);
			}
			&::after {
				width: 100%;
				transform: translate(0px, -10.5px) rotate(-45deg);
			}
		}
	}
}
