.mobile-menu {
	display: flex;
	align-items: center;

	@media (max-width: $tablet) {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1111;

		flex-direction: column-reverse;
		justify-content: start;
		align-items: start;

		width: 100%;
		padding: 15px;

		background-color: #fff;
		min-height: 100vh;
		transition: opacity 0.2s, visibility 0.2s;
		opacity: 1;
		visibility: visible;

		&.hidden {
			opacity: 0;
			visibility: hidden;
		}
	}
}
