.sect-title {
	font-weight: 700;
	font-size: 48px;
	line-height: calc(64 / 48);
	text-align: center;

	@media (max-width: 1280px) {
		font-size: 40px;
	}
	@media (max-width: $mobile) {
		font-size: 24px;
		line-height: 150%;
	}
}
