@@include("./layouts/header.html", { "head_title": "Главная" } )


<main class="main">
	<div class="breadcrumbs">
		<div class="container">
			<div class="breadcrumbs__content">
				<ul class="breadcrumbs__list" itemscope itemtype="https://schema.org/BreadcrumbList">
					<li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
						<a class="breadcrumbs__link" href="/" title="Главная" itemprop="item">
							<span itemprop="index">Главная</span>
							<meta itemprop="position" content="0">
						</a>
					</li>
					<li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
						<span class="breadcrumbs__link active">
							Обучение
						</span>
					</li>
				</ul>
			</div><!-- /.breadcrumbs__content -->
		</div><!-- /.container -->
	</div><!-- /.breadcrumbs -->



	<!-- HERO -->
	<section class="hero">
		<div class="container">
			<div class="hero__content">
				<h1 class="hero__title">
					<span class="hero__title-decor">Обучающие курсы</span> для поставщиков&nbsp;на маркетплейсы
				</h1>
				<div class="hero__price">
					<svg class="hero__price-icon" width="48" height="48">
						<use xlink:href="./images/sprite.svg#price"></use>
					</svg>
					<span class="hero__price-text">
						от <span class="hero__price-num">19 900</span>  ₽
					</span>
				</div>
				<div class="hero__desc desc">
					<p>Обучающие курсы по работе и продвижению на маркетплейсах от практикующих селлеров</p>
					<p>
						Добро пожаловать в Академию. Это место для эффективного обучения, где мы рассказываем, как работают маркетплейсы и никогда не вдаемся
						в теорию, которая не понадобится на практике.
					</p>
					<p>Нащи уроки помогут понять логику работы площадок и взять управление продажами в свои руки, а не действовать наугад. Становись экспертом в работе с маркетплейсами и увеличивай свою прибыль.</p>
				</div>

				<div class="hero__img">
					<picture>
						<source srcset="./images/hero/1-tablet.webp" type="image/webp" media="(max-width: 991px)">
						<source srcset="./images/hero/1-tablet.png" media="(max-width: 991px)">

						<source srcset="./images/hero/1-mobile.webp" media="(max-width: 480px)">
						<source srcset="./images/hero/1-mobile.png" media="(max-width: 480px)">

						<source srcset="./images/hero/1.webp" type="image/webp">
						<img src="./images/hero/1.png" loading="lazy" alt="человек" aria-hidden="true">
					</picture>
				</div>
			</div><!-- /.hero__content -->
		</div><!-- /.container -->
	</section><!-- /.hero -->
	<!-- /HERO -->



	<!-- TRUST-US -->
	<section class="trust-us">
		<div class="container">
			<div class="trust-us__content">
				<h2 class="trust-us__title sect-title">
					<span class="trust-us__title-text">Небольшая предыстория о том, почему нам можно доверять</span>
				</h2>

				<ul class="trust-us__list">
					<li class="trust-us__item grid">
						<div class="trust-us__item-img">
							<img src="./images/trust-us/1.svg" alt="" aria-hidden="true">
						</div>
						<div class="trust-us__item-text desc">
							<p>Свой путь в бизнесе мы начали в 2016 г. У нас были свои островные магазины в крупных ТЦ Москвы («Европейский», «Метрополис», «Мега» и др.), а также свой интернет-магазин. Мы накопили большой опыт в продвижении своих товаров за счет многочисленных запусков разных рекламных каналов и работы с блогерами.</p>
						</div>
					</li>
					<li class="trust-us__item grid">
						<div class="trust-us__item-img">
							<img src="./images/trust-us/2.svg" alt="" aria-hidden="true">
						</div>
						<div class="trust-us__item-text desc">
							<p>Летом 2019 года мы вышли на маркетплейсы и после работы с ними в течение 2 месяцев приняли решение развивать только это направление. И не прогадали. Весь накопленный опыт мы направили на улучшение и продвижение наших брендов.</p>
							<p>Пришло время поделится знаниями и лайфхаками, которые будут собраны и доступны в нашей Академии stat4market.</p>
						</div>
					</li>
				</ul>
			</div><!-- /.__content -->
		</div><!-- /.container -->
	</section><!-- /. -->
	<!-- /TRUST-US -->



	<!-- TRAINING -->
	<section class="training">
		<div class="container">
			<div class="training__content">
				<h2 class="training__title sect-title">
					<span class="training__title-text">Обучение по продажам на маркетплейсах от <span class="training__title-underline">stat<span class="training__title-accent">4</span>market</span></span>
				</h2>
				<p class="training__desc desc">
					<span class="training__desc-text">
						«Увеличение реальной прибыли, конкретика и ключевые инструменты, которые дают результат» — на этом тезисе созданы наши курсы
					</span>
				</p>

				<ul class="training__list grid">
					<li class="training__item">
						<div class="training__item-icon-wrapper">
							<svg class="training__item-icon" width="48" height="48">
								<use xlink:href="./images/sprite.svg#training-1"></use>
							</svg>
						</div>

						<h3 class="training__item-title">
							Наше обучение построено очень лаконично и просто
						</h3>

						<p class="training__item-desc">
							Все занятия короткие по продолжительности для легкого восприятия и понимания. Мы даем в уроках только конкретику, без лишней теории и “воды”.
						</p>
					</li>
					<li class="training__item">
						<div class="training__item-icon-wrapper">
							<svg class="training__item-icon" width="48" height="48">
								<use xlink:href="./images/sprite.svg#training-2"></use>
							</svg>
						</div>

						<h3 class="training__item-title">
							Ко всем урокам есть дополнительные материалы
						</h3>

						<p class="training__item-desc">
							Презентации, краткие инструкции, чек-листы и памятки по работе с маркетплейсами.
						</p>
					</li>
					<li class="training__item">
						<div class="training__item-icon-wrapper">
							<svg class="training__item-icon" width="48" height="48">
								<use xlink:href="./images/sprite.svg#training-3"></use>
							</svg>
						</div>

						<h3 class="training__item-title">
							Наше обучение — практико-ориентированное
						</h3>

						<p class="training__item-desc">
							Поэтому после прохождения уроков ты будешь выполнять задания, которые помогут тебе закрепить полученные знания на практике.
						</p>
					</li>
					<li class="training__item">
						<div class="training__item-icon-wrapper">
							<svg class="training__item-icon" width="48" height="48">
								<use xlink:href="./images/sprite.svg#training-4"></use>
							</svg>
						</div>

						<h3 class="training__item-title">
							Создатели нашей Академии
						</h3>

						<p class="training__item-desc">
							Действующие селлеры с большим опытом в продажах на маркетплейсах, эксперты компании stat4market, а также профессиональные лекторы и методологи.
						</p>
					</li>
				</ul>
			</div><!-- /.training__content -->
		</div><!-- /.container -->
	</section><!-- /.training -->
	<!-- /TRAINING -->
</main>


@@include("./layouts/footer.html")